body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

.intro, .customize, .upload, .recent-chats {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.ask-chef {
    background-color: #007BFF;
    color: #fff;
}

.options > div {
    margin-bottom: 20px;
}

.recipe-list .recipe {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
/* You can add custom styles here if needed to match the exact colors/fonts etc. */
 .btn-custom-green {
    background-color: #7CBCA6 !important; /* Custom green color */
    border-color: #7CBCA6 !important;
    color: white !important;
}
.btn-custom-red {
    background-color: #b05e5d; /* Custom red color */
    border-color: #b05e5d;
    color: white;
}

.btn-secondary {
    background-color: #b05e5d !important; /* Custom red color */
    border-color: #b05e5d !important;
    color: white !important;
}

/* Custom red color for active buttons */
.btn-secondary .btn.active {
    background-color: #b05e5d;
    color: white;
    border-color: #b05e5d;
}

/* Ensure the background color stays the same when the button is focused or hovered */
.btn-toggle-group .btn:focus, .btn-toggle-group .btn:hover {
    background-color: #b05e5d;
    color: white;
    border-color: #b05e5d;
}

.small-image {
  width: 30px; /* Adjust this value to your liking */
  height: 30px; /* Adjust this value to your liking */
}

.flex-auto {
  flex: 1 1 auto;
}
.scrollable-content {
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: calc(100vh - 50px); /* Adjust max height as needed */
}

.equal-height-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#mainContainer {
  height: 100%;
}

.bot-message, .user-message {
  font-size: 1rem;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}